/.idea
/venv
*.xls
/locker/cleaned_data.xlsx
/locker/data.xlsx
/locker/spilit-datas/
/locker/*.xlsx
/venv/
/wouldyourather/updated_final_would_you_rather-v1.2_modified.csv
/wouldyourather/updated_final_would_you_rather-v1.3.csv
